.button {
    width: 100%;
    background: linear-gradient(to right, #4dbc5d, #08aabf);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;

}

.button:disabled {
    background-color: #888;
    cursor: not-allowed;
}
